build
profiles
backend/cmd/cmd
packet-sender/packet_sender
.ropeproject

# MacOS Files
.DS_Store

# Code Editor
.idea/
.vscode/*
!.vscode/settings.json

# Claude
CLAUDE*
.claude

*.exe

# VS Code Workspace
*.code-workspace